html {box-sizing: border-box;}
*, ::after, ::before {box-sizing:inherit;}

body {
    margin: 0;
}

.kontejner {
    background-color: #FAFAFA;
    margin:0;
    font-weight: 300;
    color: #8B8B8B;
    font-family: montserrat;
    padding: 60px 4%;
}

.text,
h2 {
    font-size: 16px;
    text-align: center;
}

h1 {
    color: #000000;
    font-weight: 600;
    font-size: 28px;
    text-align: center;
    margin: 40px 0 30px 0;
}

h1::after {
    content: "";
    display: block;
    height: 2px;
    width: 60px;
    background-color: #407BFF;
    margin: 10px auto;
}

h2 {
    color: black
}

.travels p {
    margin: 0;
}

.hero { 
    margin: 0 11%;
}

.hero img {
    width: 100%;
}

.tlacitko {
    display: flex;
    justify-content: center;
}



.tlacitko a {
    padding: 10px 30px;
    color: white;
    text-decoration: none;
    border-radius: 20px;
    font-size: 16px;
    font-weight: 400;
}

.dobrodruh a {
    margin: 30px 0 10px 0;
    background-color: #407BFF;
}

.dobrodruh a:hover{
    background-color: #3262ca;
}

.pohoda a {
    background-color: #8B8B8B;
}

.pohoda a:hover {
    background-color: #6b6a6a;
}

.ikona p {
    font-size: 13px;
}

.ikona {
    display: flex;
    padding: 20px;
    box-shadow: 0px 4px 6px #407BFF1F;
    margin-bottom: 15px;
    background-color: white;
    border-radius: 10px;
    gap: 30px;
}

.sluzby .text {
    margin: 60px 0 30px 0;
}

@media screen and (min-width: 640px) {
    .kontejner {
        padding: 60px 2.6%;
    }

    .hero{
        margin: 0 21.4%;
    }

    .hero img{
        width: 100%;
    }

    h1 {
        margin: 30px 0 30px 0;
    }

    .tlacitko-meta {
        display: flex;
        justify-content: center;
        gap: 20px;
    }

    .tlacitko a {
        margin: 30px 0 0 0;
    }

    .sluzby .text {
        margin: 80px 11.7% 40px 11.7%;
    }

    .travels .text {
        margin: 0 11.7%;
    }

    .nadikona {
        display: flex;
        justify-content: center;
        gap: 20px;
    }

    .ikona {
        display: flex;
        flex-direction: column;
        text-align: center;
        margin: 0;
        align-items: center;
        gap: 20px;
        padding: 40px 20px;
    }

    .kancelar .ikona img {
        width: 45px;
        height: 40px;
    }

    .pruvodce .ikona img {
        width: 50px;
        height: 40px;
    }   

    .sluzby .ikona p {
        margin: 0;
    }
}

@media screen and (min-width: 1100px) {
    .kontejner {
        display: flex;
        flex-direction: column;
        gap: 80px;
        padding: 60px 0;
        align-items: center;
        
    }

    .uvod {
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
        max-width: 1040px;
        gap: 60px;
        align-items: center;
    }

    h1{
        text-align: left;
    }

    h1::after {
        margin: 10px 0;
    }

    .travels {
        flex-basis: 490px;

    }
    
    .travels .text {
        text-align: left;
        margin: 0;
    }

    .tlacitko-meta {
        justify-content: left;
    }

    .hero{
        margin: 0;
        width: 490px;
    }

    .hero img {
        width: 425px;
    }

    .kancelar {
        display: flex;
        flex-direction: row-reverse;
        max-width: 1040px;
        gap: 60px;
        align-items: center;
    }

    .sluzby .text {
        width: 430px;
        margin: 0;
        text-align: left;
    }

    .sluzby h2 {
        text-align: left;
    }

    .nadikona {
        width: 550px;
    }

    .pruvodce {
        display: flex;
        max-width: 1040px;
        gap: 60px;
        align-items: center;
    }
    
}

